$red: #fc615d;
$yellow: #fdbf44;
$green: #34cf47;

$red-border: #ea5954;
$yellow-border: #eeb244;
$green-border: #36bd44;

$nav-bar: #eaeaea;
$nav-buttons: #ffffff;
$frame-border: #D6D6D6;

.cd-browser{
  position: relative;
  width:700px;
  height:400px;
}

.cd-browser > .cd-nav{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 35px;
  background: $nav-bar;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cd-browser .cd-red, .cd-browser .cd-yellow, .cd-browser .cd-green{
  display: block;
  width: 11px;
  height: 11px;
  margin: 12px 0px 10px 6px;
  border-radius: 50%;
  float: left;
}

.cd-browser .cd-red{
  margin-left: 13px;
  background: $red;
  border: 1px solid $red-border;
}

.cd-browser .cd-yellow{
  background: $yellow;
  border: 1px solid $yellow-border;
}

.cd-browser .cd-green{
  background: $green;
  border: 1px solid $green-border;
}

.cd-browser .cd-url{
  position: absolute;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  top: 6px;
  left: 80px;
  right: 6px;
  bottom: 6px;
  border-radius: 3px;
  padding: 2px 2px 2px 10px;
  background: $nav-buttons;
  color: #6E6E6E;
  font-size: 14px;
}

.cd-browser .cd-page{
  position: absolute;
  top: 35px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: white;
  border: 1px solid $frame-border;
  overflow: hidden;
}