.cd-mobile,
.cd-tablet,
.cd-laptop,
.cd-browser,
.cd-watch,
.cd-mobile div,
.cd-tablet div,
.cd-laptop div,
.cd-browser div,
.cd-watch div,
.cd-mobile div::after,
.cd-tablet div::after,
.cd-laptop div::after,
.cd-browser div::after,
.cd-watch div::after{
  margin: 0px;
  padding: 0px;
  display: block;
  box-sizing: content-box;
  position: relative;
}

.cd-center{
  position: relative;
  margin: auto;
}

.cd-mobile .cd-screen > *,
.cd-tablet .cd-screen > *,
.cd-laptop .cd-screen > *,
.cd-browser .cd-page > *,
.cd-watch .cd-screen > *{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.cd-rotate-right-xs-mobile{
  overflow: hidden;
  background: green;
  // display: table;
  height: 285px;
  width: 606px;
}

div[class*='cd-rotate-right-'] > *{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg) translate(-100%,0);
  transform-origin:0 0;
}

div[class*='cd-rotate-right-'] > *:after {
     content: "";
     float: left;
     padding-top: 100%;
 }
