$blue-bezel: #7ec4fc;
$green-bezel: #b3f390;
$red-bezel: #fc828d;
$yellow-bezel: #fff38a;
$white-bezel: #efefee;
$silver-bezel: #bdbfbe;
$gold-bezel: #ecdcc8;
$black-bezel: #505050;

$black-home: #2c2b2c;

$camera: #3c3d3d;
$ear: #292728;
$home-btn: #242324;
$home-btn-inner: #393839;

$phone-black: #1e1e1e;
$phone-white: #fafafa;

$bezel: .25em;

.cd-iphone-5s,
.cd-iphone-5c{
  border: 0;
  position: relative;
  z-index: 50;
  width: 19.8em;
  height: 42em;
  font-size: 1em;
  display: block;
}

.cd-iphone-5s > .cd-body,
.cd-iphone-5c > .cd-body{
  position: relative;
  border-radius: 2.5em;
  border: $bezel solid black;
  background: $phone-black;
  width: 19.8em;
  height: 42em;
}

/*---------  iPhone Parts --------*/
div[class*='cd-iphone']{

  & .cd-home,
  & .cd-ear,
  & .cd-camera,
  & .cd-screen{
    position: relative;
    margin: auto;
    overflow: hidden;
    z-index: 49;
  }
}

/*---------  iPhone5s & iPhone5c Parts --------*/
div[class*='cd-iphone-5']{

  .cd-camera{
    background: $camera;
    margin-top: 1.7em;
    width: .5em;
    height: .5em;
    border-radius: .25em;
  }

  .cd-ear{
    background: $ear;
    margin-top: .8em;
    width: 3.5em;
    height: .6em;
    border-radius: .3em;
  }

  .cd-screen{
    background: black;
    margin-top: 1.5em;
    width: 17.8em;
    height: 31em;
    border: solid .2em black;
    border-radius: .1em;
  }

  .cd-home{
    margin-top: .7em;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    border: .2em solid black;
  }

  .cd-sound{
    position: absolute;
    top: 5.1em;
    left: -.3em;
    background: $black-bezel;
    height: 1.8em;
    width: .2em;
    z-index: 4;
  }

  .cd-sound::before{
    position: absolute;
    content: "";
    top: 4em;
    height: 1.4em;
    width: .2em;
    z-index: 4;
  }

  .cd-sound::after{
    position: absolute;
    content: "";
    top: 7.2em;
    height: 1.4em;
    width: .2em;
    z-index: 4;
  }

  .cd-sleep{
    position: absolute;
    top: -.3em;
    left: 13.2em;
    height: .2em;
    width: 3em;
    z-index: 4;
  }
}

.cd-iphone-5c{

  .cd-home{
    background: $home-btn;
  }

  // .cd-home::after{
  //   content: "";
  //   display:block;
  //   width:15px;
  //   height:15px;
  //   margin: 18px;
  //   border-radius:4px;
  //   border:2px solid $home-btn-inner;
  // }

  &.cd-blue{
    border: $bezel solid $blue-bezel;
  }

  &.cd-green{
    border: $bezel solid $green-bezel;
  }

  &.cd-red{
    border: $bezel solid $red-bezel;
  }

  &.cd-yellow{
    border: $bezel solid $yellow-bezel;
  }

  &.cd-white{
    border: $bezel solid $white-bezel;
  }
}

/*---------  iPhone 5s Coloring --------*/
.cd-iphone-5s{
  .cd-body,
  &.cd-black .cd-body{
    border-color: $black-bezel;
  }

  &.cd-gold .cd-body,
  &.cd-gold .cd-body .cd-home{
    background-color: $phone-white;
    border-color: $gold-bezel;
  }

  &.cd-silver .cd-body,
  &.cd-silver .cd-body .cd-home{
    background-color: $phone-white;
    border-color: $silver-bezel;
  }

  .cd-body .cd-home,
  &.cd-black .cd-body .cd-home{
    border-color: $black-home;
  }

  .cd-sound,
  .cd-sound::before,
  .cd-sound::after,
  .cd-sleep{
    background: $black-bezel;
  }

  &.cd-gold .cd-sound,
  &.cd-gold .cd-sound::before,
  &.cd-gold .cd-sound::after,
  &.cd-gold .cd-sleep{
    background: $gold-bezel;
  }

  &.cd-silver .cd-sound,
  &.cd-silver .cd-sound::before,
  &.cd-silver .cd-sound::after,
  &.cd-silver .cd-sleep{
    background: $silver-bezel;
  }
}
