$blue-bezel: #7ec4fc;
$green-bezel: #b3f390;
$red-bezel: #fc828d;
$yellow-bezel: #fff38a;
$white-bezel: #efefee;
$silver-bezel: #bdbfbe;
$gold-bezel: #ecdcc8;
$black-bezel: #505050;

$black-home: #2c2b2c;

$camera: #3c3d3d;
$ear: #292728;
$home-btn: #242324;
$home-btn-inner: #393839;

$phone-black: #1e1e1e;
$phone-white: #fafafa;

$bezel: .25em;

.cd-iphone-5s,
.cd-iphone-5c,
.cd-iphone-5s > .cd-body,
.cd-iphone-5c > .cd-body{
  width: 19.8em;
  height: 42em;
}

.cd-iphone-6,
.cd-iphone-6 > .cd-body{
  width: 23em;
  height: 48em;
}

/*---------  iPhone Parts --------*/
div[class*='cd-iphone']{
  border: 0;
  position: relative;
  z-index: 50;
  font-size: 14px;
  display: block;

  .cd-body{
    position: relative;
    border-width: $bezel;
    border-style: solid;
    background: $phone-black;
  }

  .cd-home,
  .cd-ear,
  .cd-camera,
  .cd-screen,
  .cd-sound,
  .cd-sound::after,
  .cd-sound::before,
  .cd-sleep{
    position: absolute;
  }
}

/*---------  iPhone5s & iPhone5c Parts --------*/
div[class*='cd-iphone-5']{
  .cd-body{
    border-radius: 2.5em;
  }

  .cd-camera{
    background: $camera;
    top: 1.7em;
    left: 50%;
    margin-left: -.25em;
    width: .5em;
    height: .5em;
    border-radius: .25em;
  }

  .cd-ear{
    background: $ear;
    top: 3em;
    left: 50%;
    margin-left: -1.75em;
    width: 3.5em;
    height: .6em;
    border-radius: .3em;
  }

  .cd-screen{
    background: black;
    top: 5em;
    left: 50%;
    margin-left: -8.9em;
    width: 17.8em;
    height: 31em;
    border: solid .2em black;
    border-radius: .1em;
  }

  .cd-home{
    bottom: 1em;
    left: 50%;
    margin-left: -1.75em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 1.75em;
    border: .2em solid black;
  }

  .cd-sound{
    top: 5.1em;
    left: -.3em;
    height: 1.8em;
    width: .2em;
  }

  .cd-sound::before{
    content: "";
    top: 4em;
    height: 1.4em;
    width: .2em;
  }

  .cd-sound::after{
    content: "";
    top: 7.2em;
    height: 1.4em;
    width: .2em;
  }

  .cd-sleep{
    top: -.3em;
    left: 13.2em;
    height: .2em;
    width: 3em;
  }
}

.cd-iphone-5c{

  .cd-home{
    background: $home-btn;
    border-width: 0 !important;
  }

  .cd-home::after{
    content: "";
    display:block;
    width: 1.2em;
    height: 1.2em;
    margin: 1.15em auto;
    border-radius: .3em;
    border: 1px solid $home-btn-inner;
  }

  .cd-body{
    border-color: $blue-bezel;
  }

  &.cd-green .cd-body{
    border-color: $green-bezel;
  }

  &.cd-red .cd-body{
    border-color: $red-bezel;
  }

  &.cd-yellow .cd-body{
    border-color: $yellow-bezel;
  }

  &.cd-white .cd-body{
    border-color: $white-bezel;
  }

  .cd-sound,
  .cd-sound::before,
  .cd-sound::after,
  .cd-sleep{
    background: $blue-bezel;
  }

  &.cd-green .cd-sound,
  &.cd-green .cd-sound::before,
  &.cd-green .cd-sound::after,
  &.cd-green .cd-sleep{
    background: $green-bezel;
  }

  &.cd-red .cd-sound,
  &.cd-red .cd-sound::before,
  &.cd-red .cd-sound::after,
  &.cd-red .cd-sleep{
    background: $red-bezel;
  }

  &.cd-yellow .cd-sound,
  &.cd-yellow .cd-sound::before,
  &.cd-yellow .cd-sound::after,
  &.cd-yellow .cd-sleep{
    background: $yellow-bezel;
  }

  &.cd-white .cd-sound,
  &.cd-white .cd-sound::before,
  &.cd-white .cd-sound::after,
  &.cd-white .cd-sleep{
    background: $white-bezel;
  }
}

/*---------  iPhone5s & iPhone6 & iPhone6 Plus Coloring --------*/
.cd-iphone-5s,
.cd-iphone-6,
.cd-iphone-6-plus{
  .cd-body{
    border-color: $black-bezel;
  }

  &.cd-gold .cd-body,
  &.cd-gold .cd-body .cd-home{
    background-color: $phone-white;
    border-color: $gold-bezel;
  }

  &.cd-silver .cd-body,
  &.cd-silver .cd-body .cd-home{
    background-color: $phone-white;
    border-color: $silver-bezel;
  }

  .cd-body .cd-home{
    border-color: $black-home;
  }

  .cd-sound,
  .cd-sound::before,
  .cd-sound::after,
  .cd-sleep{
    background: $black-bezel;
  }

  &.cd-gold .cd-sound,
  &.cd-gold .cd-sound::before,
  &.cd-gold .cd-sound::after,
  &.cd-gold .cd-sleep{
    background: $gold-bezel;
  }

  &.cd-silver .cd-sound,
  &.cd-silver .cd-sound::before,
  &.cd-silver .cd-sound::after,
  &.cd-silver .cd-sleep{
    background: $silver-bezel;
  }
}

/*---------  iPhone6 & iPhone6 Plus Parts --------*/
div[class*='cd-iphone-6']{
  .cd-body{
    border-radius: 3em;
  }

  .cd-camera{
    background: $camera;
    top: 2.5em;
    left: 50%;
    margin-left: -3.5em;
    width: .5em;
    height: .5em;
    border-radius: .25em;
  }

  .cd-ear{
    background: $ear;
    top: 2.5em;
    left: 50%;
    margin-left: -1.75em;
    width: 3.5em;
    height: .6em;
    border-radius: .3em;
  }

  .cd-screen{
    background: black;
    top: 5.6em;
    left: 50%;
    margin-left: -10.5em;
    width: 21em;
    height: 37em;
    border: solid .2em black;
    border-radius: .1em;
  }

  .cd-home{
    bottom: .7em;
    left: 50%;
    margin-left: -1.75em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 1.75em;
    border: .2em solid black;
  }

  .cd-sound{
    top: 5.7em;
    left: -.3em;
    height: 1.8em;
    width: .2em;
  }

  .cd-sound::before{
    content: "";
    top: 4.4em;
    height: 3.4em;
    width: .2em;
  }

  .cd-sound::after{
    content: "";
    top: 8.8em;
    height: 3.4em;
    width: .2em;
  }

  .cd-sleep{
    top: 10em;
    right: -.3em;
    height: 3.4em;
    width: .2em;
  }
}
