$blue-bezel: #7ec4fc;
$green-bezel: #b3f390;
$red-bezel: #fc828d;
$yellow-bezel: #fff38a;
$white-bezel: #efefee;

$silver-bezel: #bdbfbe;
$gold-bezel: #ecdcc8;
$black-bezel: #2c2b2c;

$cam: #3c3d3d;
$ear: #292728;
$home-btn: #242324;
$home-btn-inner: #393839;

$phone-black: #1e1e1e;
$phone-white: #fafafa;

$bezel: 3px;
$ratio: 1 !global;

.cd-mobile{
  border: 0;
  position: relative;
  z-index: 50;
  border-radius: 35px;
  width: 280px;
  height: 600px;
  display: block;
  background: $phone-black;
}

/*---------  iPhone 5s --------*/

.cd-5s-gold, .cd-5s-gold > .cd-home{
  background-color: $phone-white;
  border: $bezel solid $gold-bezel;
}

.cd-5s-silver, .cd-5s-silver > .cd-home{
  background-color: $phone-white;
  border: $bezel solid $silver-bezel;
}

.cd-5s-black, .cd-5s-black > .cd-home{
  border: $bezel solid $black-bezel;
}

/*---------  iPhone 5c --------*/

.cd-5c-blue{
  border: $bezel solid $blue-bezel;
}

.cd-5c-green{
  border: $bezel solid $green-bezel;
}

.cd-5c-red{
  border: $bezel solid $red-bezel;
}

.cd-5c-yellow{
  border: $bezel solid $yellow-bezel;
}

.cd-5c-white{
  border: $bezel solid $white-bezel;
}

/*---------  iPhone Parts --------*/

.cd-mobile > .cd-ear{
	background: $ear;
}

.cd-mobile > .cd-cam{
	background: $cam;
}

.cd-5c-blue > .cd-home,
.cd-5c-green > .cd-home,
.cd-5c-red > .cd-home,
.cd-5c-yellow > .cd-home,
.cd-5c-white > .cd-home{
  background: $home-btn;
}

.cd-5c-blue > .cd-home::after,
.cd-5c-green > .cd-home::after,
.cd-5c-red > .cd-home::after,
.cd-5c-yellow > .cd-home::after,
.cd-5c-white > .cd-home::after{
    content: "";
    display:block;
	width:15px;
	height:15px;
	margin: 18px;
	border-radius:4px;
	border:2px solid $home-btn-inner;
}

.cd-mobile > .cd-home,
.cd-mobile > .cd-ear,
.cd-mobile > .cd-cam,
.cd-mobile > .cd-screen{
  position: absolute;
  left: 50%;
  overflow: hidden;
}

.cd-mobile > .cd-cam{
  top: 23px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: -4px;
}

.cd-mobile > .cd-ear{
  top: 43px;
  width: 54px;
  height: 8px;
  border-radius: 5px;
  margin-left: -27px;
}

.cd-mobile > .cd-home{
  bottom: 14px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-left: -27px;
}

.cd-5s-gold > .cd-home,
.cd-5s-silver > .cd-home,
.cd-5s-black > .cd-home{
	bottom: 12px;
	width: 50px;
	height: 50px;
	margin-left: -30px;
}

.cd-mobile > .cd-screen{
  background: black;
  width: 250px;
  margin-left: -127px;
  height: 440px;
  top: 75px;
  border: solid $bezel black;
  border-radius: 2px;
}

$sizes: cd-lg cd-sm cd-xs;

@each $size in $sizes {

	@if $size == "cd-lg" {
		$ratio: 1.3;
	}
	@else if $size == "cd-sm" {
		$ratio: .7;
	}
	@else if $size == "cd-xs" {
		$ratio: .5;
	}

	/*---------  iPhone #{$size} --------*/

  .cd-mobile.#{$size}{
	  width: 280px * $ratio;
	  height: 600px * $ratio;
	  border-radius: 35px * $ratio;
	  border-width: $bezel * $ratio;
	}

	.cd-mobile.#{$size} > .cd-cam{
	  top: 23px * $ratio;
	  width: 8px * $ratio;
	  height: 8px * $ratio;
	  margin-left: -4px * $ratio;
	}

	.cd-mobile.#{$size} > .cd-ear{
	  top: 43px * $ratio;
	  width: 54px * $ratio;
	  height: 8px * $ratio;
	  border-radius: 5px * $ratio;
	  margin-left: -27px * $ratio;
	}

	.cd-mobile.#{$size} > .cd-home{
	  bottom: 14px * $ratio;
	  width: 54px * $ratio;
	  height: 54px * $ratio;
	  margin-left: -27px * $ratio;
	}

	.cd-mobile.#{$size}.cd-5s-gold > .cd-home,
	.cd-mobile.#{$size}.cd-5s-silver > .cd-home,
	.cd-mobile.#{$size}.cd-5s-black > .cd-home{
		bottom: 12px * $ratio;
		width: 50px * $ratio;
		height: 50px * $ratio;
		margin-left: -30px * $ratio;
		border-width: $bezel * $ratio;
	}

	.cd-5c-blue.#{$size} > .cd-home::after,
	.cd-5c-green.#{$size} > .cd-home::after,
	.cd-5c-red.#{$size} > .cd-home::after,
	.cd-5c-yellow.#{$size} > .cd-home::after,
	.cd-5c-white.#{$size} > .cd-home::after{
		width:15px * $ratio;
		height:15px * $ratio;
		margin: 18px * $ratio;
		border-radius:4px * $ratio;
		border:2px * $ratio solid $home-btn-inner;
	}

	.cd-mobile.#{$size} > .cd-screen{
	  width: 250px * $ratio;
	  margin-left: -127px * $ratio;
	  height: 440px * $ratio;
	  top: 75px * $ratio;
	  border: solid $bezel * $ratio black;
	  border-radius: 2px * $ratio;
	}
}




