$cam: #3c3d3d;
$silver-bezel: #D5D5D5;
$black-bezel: #979797;

$home-btn-black: #242324;
$home-btn-inner-black: #393839;
$home-btn-white: #EFEFEF;
$home-btn-inner-white: #D5D5D5;

$tablet-black: #1e1e1e;
$tablet-white: #fafafa;

$ratio: 1 !global;

.cd-tablet{
  border: 0;
  position: relative;
  z-index: 50;
  border-radius: 25px;
  width: 428px;
  height: 600px;
  display: block;
}

.cd-tablet > .cd-cam{
  background: $cam;
}

.cd-tablet.cd-black{
  background: $tablet-black;
  border: 2px solid $black-bezel;
}

.cd-tablet.cd-black > .cd-home{
  background: $home-btn-black;
}

.cd-tablet.cd-white{
  background: $tablet-white;
  border: 2px solid $silver-bezel;
}

.cd-tablet.cd-white > .cd-home{
  background: $home-btn-white;
}

.cd-tablet > .cd-home, 
.cd-tablet > .cd-cam, 
.cd-tablet > .cd-screen{
  position: absolute;
  left: 50%;
}

.cd-tablet > .cd-cam{
  top: 22px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: -3px;
}

.cd-tablet > .cd-home{
  bottom: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -15px;
}

.cd-tablet > .cd-home::after{ 
  content: "";
  display:block;
  width: 8px;
  height: 8px;
  margin: 10px;
  border-radius:2px;
}

.cd-tablet.cd-black > .cd-home::after{
  border:1px solid $home-btn-inner-black;
}

.cd-tablet.cd-white > .cd-home::after{
  border:1px solid $home-btn-inner-white;
}

.cd-tablet > .cd-screen{
  background: black;
  width: 390px;
  height: 500px;
  margin-left: -197px;
  top: 50px;
  border-radius: 2px;
  overflow: hidden;
  border: solid 2px black;
}

$sizes: cd-lg cd-sm cd-xs;

@each $size in $sizes {

  @if $size == "cd-lg" {
    $ratio: 1.3;
  } 
  @else if $size == "cd-sm" {
    $ratio: .7;
  } 
  @else if $size == "cd-xs" {
    $ratio: .5;
  } 

  /*---------  Tablet #{$size} --------*/

  .cd-tablet.#{$size}{
    border-width: 2px * $ratio;
    border-radius: 25px * $ratio;
    width: 428px * $ratio;
    height: 600px * $ratio;
  }

  .cd-tablet.#{$size} > .cd-cam{
    top: 22px * $ratio;
    width: 8px * $ratio;
    height: 8px * $ratio;
    margin-left: -4px * $ratio;
  }

  .cd-tablet.#{$size} > .cd-home{
    bottom: 10px * $ratio;
    width: 30px * $ratio;
    height: 30px * $ratio;
    margin-left: -15px * $ratio;
  }

  .cd-tablet.#{$size} > .cd-screen{
    width: 390px * $ratio;
    height: 500px * $ratio;
    margin-left: -195px * $ratio;
    top: 50px * $ratio;
    border-radius: 2px * $ratio;
    border: solid 2px * $ratio black;
  }

  .cd-tablet.#{$size} > .cd-home::after{ 
    width: 8px * $ratio;
    height: 8px * $ratio;
    margin: 10px * $ratio;
  }
}