.cd-watch{
  width: map-get($watch, width);
  height: map-get($watch, height);
  [class$='-bracket']{
    height: map-get($watch, screen-height);
    width: map-get($watch, screen-width);
    left: 50%;
    margin-left: -1 * map-get($watch, screen-width)/2;
    border: .5em solid $sport-bezel-silver;
    border-radius: .8em;
  }
  .cd-top-bracket{
    top: 4.3em;
  }
  .cd-bottom-bracket{
    bottom: 4.3em;
  }
  [class$='-band']{
    width: 9em;
    height: 8em;
    background: $sport-white;
    left: 50%;
    margin-left: -4.5em;
    border-radius: .4em;
  }
  .cd-top-band{
    top: -1.4em;
    transform: perspective( 30em ) rotateX( 45deg );
  }
  .cd-bottom-band{
    bottom: -1.4em;
    transform: perspective( 30em ) rotateX( -45deg );
  }
  .cd-crown{
    width: .8em;
    height: 3.4em;
    right: 0;
    top: 50%;
    margin-top: -5em;
    background: $sport-bezel-silver;
    border-radius: 0 .4em .4em 0;
  }
  .cd-button{
    width: .4em;
    height: 5em;
    right: .4em;
    top: 50%;
    background: $sport-bezel-silver;
    border-radius: 0 .3em .3em 0;
  }
  .cd-body{
    height: map-get($watch, screen-height) + 4;
    width: map-get($watch, screen-width) + 4;
    top: 50%;
    left: 50%;
    margin-top: -1 * (map-get($watch, screen-height) + 4)/2;
    margin-left: -1 * (map-get($watch, screen-width) + 4)/2;
    border: .7em solid $sport-bezel-silver;
    border-radius: 3em;
    background: black;
  }

  .cd-screen{
    background: black;
    overflow: hidden;
    width: map-get($watch, screen-width);
    height: map-get($watch, screen-height);
    top: 50%;
    left: 50%;
    margin-top: -1 * map-get($watch, screen-height)/2;
    margin-left: -1 * map-get($watch, screen-width)/2;
    border-radius: 5px;
    & > *{
      border-radius: 1em;
    }
  }

  &.cd-sport-white,
  &.cd-sport-blue,
  &.cd-sport-green,
  &.cd-sport-red,
  &.cd-sport-black{
    [class$='-bracket']{
      display: none;
    }
    .cd-crown,
    .cd-button{
      background: $sport-bezel-silver;
    }
    .cd-body{
      border-color: $sport-bezel-silver;
    }
  }

  &.cd-sport-white{
    [class$='-band']{
      background: $sport-white;
    }
  }
  &.cd-sport-blue{
    [class$='-band']{
      background: $sport-blue;
    }
  }
  &.cd-sport-green{
    [class$='-band']{
      background: $sport-green;
    }
  }
  &.cd-sport-red{
    [class$='-band']{
      background: $sport-red;
    }
  }
  &.cd-sport-black{
    [class$='-band']{
      background: $sport-black;
    }
    .cd-crown,
    .cd-button{
      background: $sport-bezel-black;
    }
    .cd-body{
      border-color: $sport-bezel-black;
    }
  }
}
