/*------------------------------------  Mobile ------------------------------------*/
.cd-mobile{
  border: 0;
  position: relative;
  z-index: 50;
  border-radius: 35px;
  width: 280px;
  height: 600px;
  display: block;
}

/*---------  iPhone 5s --------*/

.cd-5s-gold{
  background-color: #fafafa;
  border: 4px solid #ecdcc8;
}

.cd-5s-gold > .cd-ear, .cd-5s-gold > .cd-cam{
  background: #ecdcc8;
}

.cd-5s-gold > .cd-home{
  border: 3px solid #ecdcc8;
}

.cd-5s-silver{
  background-color: #fafafa;
  border: 4px solid #bdbfbe;
}

.cd-5s-silver > .cd-ear, .cd-5s-silver > .cd-cam{
  background: #bdbfbe;
}

.cd-5s-silver > .cd-home{
  border: 3px solid #bdbfbe;
}

.cd-5s-black{
  background-color: #151515;
  border: 4px solid #777679;
}

.cd-5s-black > .cd-ear, .cd-5s-black > .cd-cam{
  background: #242424;
}

.cd-5s-black > .cd-home{
  border: 3px solid #3F3F3F;
}

/*---------  iPhone 5c --------*/

.cd-5c-blue{
  background-color: #151515;
  border: 4px solid #7ec4fc;
}

.cd-5c-green{
  background-color: #151515;
  border: 4px solid #b3f390;
}

.cd-5c-red{
  background-color: #151515;
  border: 4px solid #fc828d;
}

.cd-5c-yellow{
  background-color: #151515;
  border: 4px solid #fff38a;
}

.cd-5c-white{
  background-color: #151515;
  border: 4px solid #efefee;
}

.cd-5c-blue > .cd-home, .cd-5c-blue > .cd-ear, .cd-5c-blue > .cd-cam,
.cd-5c-green > .cd-home, .cd-5c-green > .cd-ear, .cd-5c-green > .cd-cam,
.cd-5c-red > .cd-home, .cd-5c-red > .cd-ear, .cd-5c-red > .cd-cam,
.cd-5c-yellow > .cd-home, .cd-5c-yellow > .cd-ear, .cd-5c-yellow > .cd-cam,
.cd-5c-white > .cd-home, .cd-5c-white > .cd-ear, .cd-5c-white > .cd-cam{
  background: #242424;
}

.cd-mobile > .cd-home, .cd-mobile > .cd-ear, .cd-mobile > .cd-cam, .cd-mobile > .cd-screen{
  position: absolute;
  left: 50%;
  overflow: hidden;
}

.cd-mobile > .cd-cam{
  top: 20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: -6px;
}

.cd-mobile > .cd-ear{
  top: 45px;
  width: 55px;
  height: 10px;
  border-radius: 5px;
  margin-left: -27.5px;
}

.cd-mobile > .cd-home{
  bottom: 13px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -25px;
}

.cd-mobile > .cd-screen{
  background: black;
  width: 250px;
  margin-left: -125px;
  height: 440px;
  top: 75px;
}

.cd-mobile.cd-lg{
  width: calc(280px * 1.3);
  height: calc(600px * 1.3);
  border-radius: calc(35px * 1.3);
  border-width: calc(4px * 1.3);
}

.cd-mobile.cd-lg > .cd-cam{
  top: calc(20px * 1.3);
  width: calc(12px * 1.3);
  height: calc(12px * 1.3);
  margin-left: calc(-6px * 1.3);
}

.cd-mobile.cd-lg > .cd-ear{
  top: calc(45px * 1.3);
  width: calc(55px * 1.3);
  height: calc(10px * 1.3);
  border-radius: calc(5px * 1.3);
  margin-left: calc(-27.5px * 1.3);
}

.cd-mobile.cd-lg > .cd-home{
  bottom: calc(13px * 1.3);
  width: calc(50px * 1.3);
  height: calc(50px * 1.3);
  margin-left: calc(-25px * 1.3);
}

.cd-mobile.cd-lg > .cd-screen{
  width: calc(250px * 1.3);
  margin-left: calc(-125px * 1.3);
  height: calc(440px * 1.3);
  top: calc(75px * 1.3);
}

.cd-mobile.cd-sm{
  width: calc(280px * .7);
  height: calc(600px * .7);
  border-radius: calc(35px * .7);
  border-width: calc(4px * .7);
}

.cd-mobile.cd-sm > .cd-cam{
  top: calc(20px * .7);
  width: calc(12px * .7);
  height: calc(12px * .7);
  margin-left: calc(-6px * .7);
}

.cd-mobile.cd-sm > .cd-ear{
  top: calc(45px * .7);
  width: calc(55px * .7);
  height: calc(10px * .7);
  border-radius: calc(5px * .7);
  margin-left: calc(-27.5px * .7);
}

.cd-mobile.cd-sm > .cd-home{
  bottom: calc(13px * .7);
  width: calc(50px * .7);
  height: calc(50px * .7);
  margin-left: calc(-25px * .7);
}

.cd-mobile.cd-sm > .cd-screen{
  width: calc(250px * .7);
  margin-left: calc(-125px * .7);
  height: calc(440px * .7);
  top: calc(75px * .7);
}

.cd-mobile.cd-xs{
  width: calc(280px * .5);
  height: calc(600px * .5);
  border-radius: calc(35px * .5);
  border-width: calc(4px * .5);
}

.cd-mobile.cd-xs > .cd-cam{
  top: calc(20px * .5);
  width: calc(12px * .5);
  height: calc(12px * .5);
  margin-left: calc(-6px * .5);
}

.cd-mobile.cd-xs > .cd-ear{
  top: calc(45px * .5);
  width: calc(55px * .5);
  height: calc(10px * .5);
  border-radius: calc(5px * .5);
  margin-left: calc(-27.5px * .5);
}

.cd-mobile.cd-xs > .cd-home{
  bottom: calc(13px * .5);
  width: calc(50px * .5);
  height: calc(50px * .5);
  margin-left: calc(-25px * .5);
}

.cd-mobile.cd-xs > .cd-screen{
  width: calc(250px * .5);
  margin-left: calc(-125px * .5);
  height: calc(440px * .5);
  top: calc(75px * .5);
}

.cd-5s-gold > .cd-home,
.cd-5s-silver > .cd-home,
.cd-5s-black > .cd-home{
  bottom: 12px;
}

.cd-5s-gold.cd-lg > .cd-home,
.cd-5s-silver.cd-lg > .cd-home,
.cd-5s-black.cd-lg > .cd-home{
  bottom: calc(12px * 1.3);
  border-width: calc(3px * 1.3);
}

.cd-5s-gold.cd-sm > .cd-home,
.cd-5s-silver.cd-sm > .cd-home,
.cd-5s-black.cd-sm > .cd-home{
  bottom: calc(12px * .7);
  border-width: calc(3px * .7);
}

.cd-5s-gold.cd-xs > .cd-home,
.cd-5s-silver.cd-xs > .cd-home,
.cd-5s-black.cd-xs > .cd-home{
  bottom: calc(12px * .7);
  border-width: calc(3px * .5);
}

/*------------------------------------  Laptop ------------------------------------*/
.cd-laptop{
  position: relative;
  width:922px;
  height:520px;
}

.cd-laptop > .cd-top{
  position: absolute;
  width:744px;
  height:500px;
  left: 50%;
  margin-left: -372px;
  background: #d6d5da;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.cd-laptop > .cd-bottom{
  position: absolute;
  width:922px;
  height:20px;
  background: #BDBDBD;
  bottom: 0px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.cd-laptop > .cd-screen{
  position: absolute;
  width:684px;
  height:440px;
  left: 50%;
  margin-left: -342px;
  top: 30px;
  background: black;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #6E6E6E;
}

.cd-laptop > .cd-cam{
  position: absolute;
  width:8px;
  height:8px;
  left: 50%;
  margin-left: -4px;
  top: 12px;
  background: black;
  border-radius: 50%;
}

.cd-laptop > .cd-notch{
  position: absolute;
  width:150px;
  height:8px;
  left: 50%;
  bottom: 10px;
  margin-left: -75px;
  background: #d6d5da;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 2px solid #BDBDBD;
}

.cd-laptop.cd-lg{
  width:calc(922px * 1.3);
  height:calc(520px * 1.3);
}

.cd-laptop.cd-lg > .cd-top{
  width:calc(744px * 1.3);
  height:calc(500px * 1.3);
  margin-left: calc(-372px * 1.3);
  border-top-left-radius: calc(20px * 1.3);
  border-top-right-radius: calc(20px * 1.3);
  border-bottom-left-radius: calc(7px * 1.3);
  border-bottom-right-radius: calc(7px * 1.3);
}

.cd-laptop.cd-lg > .cd-bottom{
  width:calc(922px * 1.3);
  height:calc(20px * 1.3);
  border-bottom-left-radius:calc(100px * 1.3);
  border-bottom-right-radius:calc(100px * 1.3);
}

.cd-laptop.cd-lg > .cd-screen{
  width:calc(684px * 1.3);
  height:calc(440px * 1.3);
  margin-left: calc(-342px * 1.3);
  top: calc(30px * 1.3);
  border-radius: calc(5px * 1.3);
}

.cd-laptop.cd-lg > .cd-cam{
  width:calc(8px * 1.3);
  height:calc(8px * 1.3);
  margin-left: calc(-4px * 1.3);
  top: calc(12px * 1.3);
}

.cd-laptop.cd-lg > .cd-notch{
  width:calc(150px * 1.3);
  height:calc(8px * 1.3);
  bottom: calc(10px * 1.3);
  margin-left: calc(-75px * 1.3);
  border-bottom-left-radius: calc(20px * 1.3);
  border-bottom-right-radius: calc(20px * 1.3);
  border-top: calc(2px * 1.3) solid #BDBDBD;
}

.cd-laptop.cd-sm{
  width:calc(922px * .7);
  height:calc(520px * .7);
}

.cd-laptop.cd-sm > .cd-top{
  width:calc(744px * .7);
  height:calc(500px * .7);
  margin-left: calc(-372px * .7);
  border-top-left-radius: calc(20px * .7);
  border-top-right-radius: calc(20px * .7);
  border-bottom-left-radius: calc(7px * .7);
  border-bottom-right-radius: calc(7px * .7);
}

.cd-laptop.cd-sm > .cd-bottom{
  width:calc(922px * .7);
  height:calc(20px * .7);
  border-bottom-left-radius:calc(100px * .7);
  border-bottom-right-radius:calc(100px * .7);
}

.cd-laptop.cd-sm > .cd-screen{
  width:calc(684px * .7);
  height:calc(440px * .7);
  margin-left: calc(-342px * .7);
  top: calc(30px * .7);
  border-radius: calc(5px * .7);
}

.cd-laptop.cd-sm > .cd-cam{
  width:calc(8px * .7);
  height:calc(8px * .7);
  margin-left: calc(-4px * .7);
  top: calc(12px * .7);
}

.cd-laptop.cd-sm > .cd-notch{
  width:calc(150px * .7);
  height:calc(8px * .7);
  bottom: calc(10px * .7);
  margin-left: calc(-75px * .7);
  border-bottom-left-radius: calc(20px * .7);
  border-bottom-right-radius: calc(20px * .7);
  border-top: calc(2px * .7) solid #BDBDBD;
}

.cd-laptop.cd-xs{
  width:calc(922px * .5);
  height:calc(520px * .5);
}

.cd-laptop.cd-xs > .cd-top{
  width:calc(744px * .5);
  height:calc(500px * .5);
  margin-left: calc(-372px * .5);
  border-top-left-radius: calc(20px * .5);
  border-top-right-radius: calc(20px * .5);
  border-bottom-left-radius: calc(7px * .5);
  border-bottom-right-radius: calc(7px * .5);
}

.cd-laptop.cd-xs > .cd-bottom{
  width:calc(922px * .5);
  height:calc(20px * .5);
  border-bottom-left-radius:calc(100px * .5);
  border-bottom-right-radius:calc(100px * .5);
}

.cd-laptop.cd-xs > .cd-screen{
  width:calc(684px * .5);
  height:calc(440px * .5);
  margin-left: calc(-342px * .5);
  top: calc(30px * .5);
  border-radius: calc(5px * .5);
}

.cd-laptop.cd-xs > .cd-cam{
  width:calc(8px * .5);
  height:calc(8px * .5);
  margin-left: calc(-4px * .5);
  top: calc(12px * .5);
}

.cd-laptop.cd-xs > .cd-notch{
  width:calc(150px * .5);
  height:calc(8px * .5);
  bottom: calc(10px * .5);
  margin-left: calc(-75px * .5);
  border-bottom-left-radius: calc(20px * .5);
  border-bottom-right-radius: calc(20px * .5);
  border-top: calc(2px * .5) solid #BDBDBD;
}

/*------------------------------------  Tablet ------------------------------------*/

.cd-tablet{
  border: 0;
  position: relative;
  z-index: 50;
  border-radius: 25px;
  width: 428px;
  height: 600px;
  display: block;
}

.cd-tablet.cd-black{
  background: #151515;
  border: 2px solid #BDBDBD;
}

.cd-tablet.cd-black > .cd-home, .cd-tablet.cd-black > .cd-cam{
  background: #242424;
}

.cd-tablet.cd-white{
  background: #fafafa;
  border: 2px solid #D5D5D5;
}

.cd-tablet.cd-white > .cd-home{
  background: #D5D5D5;
}

.cd-tablet.cd-white > .cd-cam{
  background: #494949;
}

.cd-tablet > .cd-home, .cd-tablet > .cd-cam, .cd-tablet > .cd-screen{
  position: absolute;
  left: 50%;
}

.cd-tablet > .cd-cam{
  top: 22px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: -4px;
}

.cd-tablet > .cd-home{
  bottom: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -15px;
}

.cd-tablet > .cd-screen{
  background: black;
  width: 390px;
  height: 500px;
  margin-left: -195px;
  top: 50px;
  border-radius: 2px;
  overflow: hidden;
}

.cd-tablet.cd-lg{
  border-width: calc(2px * 1.3);
  border-radius: calc(25px * 1.3);
  width: calc(428px * 1.3);
  height: calc(600px * 1.3);
}

.cd-tablet.cd-lg > .cd-cam{
  top: calc(22px * 1.3);
  width: calc(8px * 1.3);
  height: calc(8px * 1.3);
  margin-left: calc(-4px * 1.3);
}

.cd-tablet.cd-lg > .cd-home{
  bottom: calc(10px * 1.3);
  width: calc(30px * 1.3);
  height: calc(30px * 1.3);
  margin-left: calc(-15px * 1.3);
}

.cd-tablet.cd-lg > .cd-screen{
  width: calc(390px * 1.3);
  height: calc(500px * 1.3);
  margin-left: calc(-195px * 1.3);
  top: calc(50px * 1.3);
  border-radius: calc(2px * 1.3);
}

.cd-tablet.cd-sm{
  border-width: calc(2px * .7);
  border-radius: calc(25px * .7);
  width: calc(428px * .7);
  height: calc(600px * .7);
}

.cd-tablet.cd-sm > .cd-cam{
  top: calc(22px * .7);
  width: calc(8px * .7);
  height: calc(8px * .7);
  margin-left: calc(-4px * .7);
}

.cd-tablet.cd-sm > .cd-home{
  bottom: calc(10px * .7);
  width: calc(30px * .7);
  height: calc(30px * .7);
  margin-left: calc(-15px * .7);
}

.cd-tablet.cd-sm > .cd-screen{
  width: calc(390px * .7);
  height: calc(500px * .7);
  margin-left: calc(-195px * .7);
  top: calc(50px * .7);
  border-radius: calc(2px * .7);
}

.cd-tablet.cd-xs{
  border-width: calc(2px * .5);
  border-radius: calc(25px * .5);
  width: calc(428px * .5);
  height: calc(600px * .5);
}

.cd-tablet.cd-xs > .cd-cam{
  top: calc(22px * .5);
  width: calc(8px * .5);
  height: calc(8px * .5);
  margin-left: calc(-4px * .5);
}

.cd-tablet.cd-xs > .cd-home{
  bottom: calc(10px * .5);
  width: calc(30px * .5);
  height: calc(30px * .5);
  margin-left: calc(-15px * .5);
}

.cd-tablet.cd-xs > .cd-screen{
  width: calc(390px * .5);
  height: calc(500px * .5);
  margin-left: calc(-195px * .5);
  top: calc(50px * .5);
  border-radius: calc(2px * .5);
}

/*------------------------------------  Helpers ------------------------------------*/

.cd-center{
  position: relative;
  margin: auto;
}

.cd-fill-screen{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
