.cd-browser{
  position: relative;
  width:922px;
  height:520px;
}

.cd-browser > .cd-nav{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  background: red;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cd-browser .cd-red, .cd-browser .cd-yellow, .cd-browser .cd-green{
  display: block;
  width: 12px;
  height: 12px;
  margin: 9px 0px 9px 6px;
  border-radius: 50%;
  background: blue;
  float: left;
}

.cd-browser .cd-red{
  margin-left: 13px;
}

.cd-browser .cd-url{
  position: absolute;
  top: 4px;
  left: 80px;
  right: 4px;
  bottom: 4px;
  border-radius: 5px;
  padding: 2px;
  background: green;
}

.cd-browser .cd-page{
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: yellow;
}